* {
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul,
li {
    list-style-type: none;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding-top: 110px;
    padding-bottom: 110px;
}

body {
    overflow-x: hidden;
}

.scrollDisabled {
    overflow: hidden;
}

/* MENU */

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s;
}

.menuFixed {
    background: #e1f7ff !important;
    padding-top: 20px !important;
}

.menuFixed a {
    color: #181B2E;
}

.logotype {
    width: 200px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.logotypeLink {
    justify-content: center;
}

.menuLinks {
    justify-content: end;
}

.menu li {
    width: 33%;
    text-align: center;
}

.menuLinks a {
    font-size: 22px;
    transition: 0.3s;
    margin-right: 80px;
}

.menuLinks a:hover {
    color: #F51F89
}

.world main {
    overflow-x: hidden;
    display: flex;
    position: sticky;
    top: 0;
}

.world section {
    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
}


/* HEADER */

.header {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/header__image.png');
    background-size: cover;
    background-attachment: fixed;
}

.header h1 {
    font-size: 128px;
    line-height: 132px;
    width: 890px;

    color: white;
}

.headerMask {
    background: linear-gradient(98.32deg, rgba(24, 27, 46, 0.78) 6.04%, rgba(24, 27, 46, 0) 72.87%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header p {
    font-weight: 700;
    font-size: 26px;
    line-height: 136.5%;
    color: white;
    margin-top: 20px;
    max-width: 1024px;
    position: relative;

}

.headerText {
    position: relative;
    top: 140px;
}

/* NMVC */

.siteTitle p {
    font-weight: 700;
    font-size: 20px;
    line-height: 136.5%;
    text-transform: lowercase;
    color: rgba(24, 27, 46, 0.57);
    opacity: 0.7;
}

.siteTitle h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 136.5%;
    color: #181B2E;
    max-width: 550px;
}

.nmvc {
    background-image: url('../images/siteBG.png');
    max-height: 960px;
}

.nmvcContent img {
    width: 550px;
}

.nmvcText {
    max-width: 675px;
    width: 100%;
}

.nmvcText p {
    font-size: 20px;
    line-height: 136.5%;
    color: #1E1E1E;
    margin-bottom: 30px;
}

.nmvcContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PLOT */

.plot {
    background-image: url('../images/plotBG.png');
    height: 820px;
}

.plot p {
    color: white;
}

.plot h1 {
    color: white;
}

.plotTable {
    color: white;
    font-size: 22px;
}

.plotTable tr {
    height: 70px;
}

.plotTable td {
    min-width: 150px;
}

.plotContent {
    margin-top: 50px;
}

.plotButton {
    padding: 12px 45px;
    box-sizing: border-box;
    color: #1E1E1E;
    background: #02FAFD;
    border: 2px solid #02FAFD;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 15px;
    transition: 0.3s;
    font-size: 22px;
}

.plotButton:hover {
    background: transparent;
    color: #02FAFD;
}

.plotImage {
    width: 430px;
}

.plotContent {
    display: flex;
    justify-content: space-between;
}


/* WORLD */

.world {
    background-image: url('../images/siteBG.png');
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.worldContent {
    position: relative;
    padding-left: 160px;
    top: 0px;
    height: 70vh;
    width: 100vw;
    padding-top: 0vh;
    overflow-x: scroll;
    will-change: transform;
    transform-style: preserve-3d;
}

.horizontalScrollOff {
    pointer-events: none;
}

.worldsSliderWrapper {
    margin-top: 20vh;
}

.sliderText {
    font-weight: 700;
    font-size: 96px;
    line-height: 166.5%;
    color: #181B2E;
}

.sliderText_2 {
    position: relative;
    left: 130px;
}

.sliderItem {
    margin-right: 50px;
}

.sliderItemBlock {
    width: 600px;
    height: 200px;
    background: linear-gradient(96.22deg, #DBD5EC 0%, #B0D1E7 99.59%);
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    padding-top: 20px;
}

.sliderItemTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 136.5%;
    color: #7577F5;
    margin-bottom: 10px;
}

.sliderItemText {
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    color: #1E1E1E;
}

.worldsSliderWrapper {
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding-right: 200px;
}

.worldContent::-webkit-scrollbar {
    width: 0;
}

.sliderTextBlock {
    min-width: 70%;
}

/* SPECIAL */

.special {
    height: 880px;
    padding-top: 0;
    padding-bottom: 0;
}

.particles-js {
    width: 100%;
    height: 100%;
    background: #B0D1E7;
    pointer-events: none;
    transition: 0.3s;

}

.specialContent {
    position: absolute;
    left: 0;
    top: 125px;
    width: 100%;
}

.special {
    position: relative;
    z-index: 99;

}

.special p {
    color: white;
}

.special h1 {
    color: white;
}

.specialBodyText {
    max-width: 1100px;
    font-size: 24px;
    margin-top: 60px;
}

.specialCard {
    max-width: 350px;
}

.specialCardNumber {
    font-weight: 700;
    font-size: 56px;
    line-height: 136.5%;
    color: #181B2E;
}

.specialCardText {
    font-size: 20px;
    line-height: 136.5%;
    color: #1E1E1E;
}

.specialCards {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.specialCardLineWrapper {
    height: 6px;
    background: white;
    width: 100%;
    margin-top: 30px;
}

.specialCard {
    opacity: 0.6;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98)
}

.specialCardLine {
    height: 6px;
    background: #F51F89;
    width: 0;
}

.spCardActive {
    opacity: 1;
}

.specialCardLine {
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    transition: 0.7s;
}

.spCardActive .specialCardLine {
    width: 100%;
}


/*  QUOTE*/

.quote {
    background-image: url('../images/quoteBG.png');
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;

}

.quoteText {
    text-align: center;
    color: white;
}

.quoteTextTitle {
    font-weight: 700;
    font-size: 66px;
    line-height: 136.5%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 200px;
}

.quoteTextBottom {
    font-weight: 400;
    font-size: 30px;
    line-height: 136.5%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

/* LIFE */


.life {
    height: 880px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.life p {
    color: white;
}

.life h1 {
    color: white;
}

.lifeImage {
    max-width: 450px;
}

.lifeContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.lifeText {
    max-width: 730px;
    font-weight: 400;
    font-size: 26px;
    line-height: 136.5%;
    color: #1E1E1E;

}

.lifeImage p {
    margin-top: 35px;
    font-size: 38px;
    line-height: 136.5%;
    color: white;
}

/* GAME */

.game {
    background-image: url('../images/gameBG.png');
    height: 860px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.swiper {
    height: 860px;
}

.swiper-slide {
    position: relative;
    top: 233px;
}

.gameWrapper {
    display: flex;
    justify-content: end;
}

/* GOLD */

.gold {
    background-image: url('../images/siteBG-2.png');
    height: 850px;
    background-attachment: fixed;
}

.goldHeader {
    display: flex;
    justify-content: space-between;
}

.goldHeaderText {
    max-width: 670px;
}

.goldHeaderText h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 136.5%;
    color: #1E1E1E;
}

.goldHeaderText p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 136.5%;
    color: #1E1E1E;
    margin-top: 30px;
}

.goldList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 150px;
}

.goldListNumber {
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 136.5%;
    color: #181B2E;
}

.goldListText {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 136.5%;
    color: #1E1E1E;
}

/* STORES */

.stores {
    height: 880px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.stores p {
    color: white;
}

.stores h1 {
    color: white;
}

.storesContent {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.storesText {
    max-width: 670px;
}

.storesText p {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 136.5%;
}

/* STEPS */

.steps {
    height: 850px;
    background-image: url('../images/stepsBG.png');
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

.stepsLine {
    width: 5px;
    background: white;
    height: 500px;
}

.stepsList {
    display: flex;
    justify-content: space-between;
}

.stepsNumber {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 137px;
    color: white;
}

.stepsText {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.stepsLeft {
    text-align: right;
    width: 40%;
}

.stepsList {
    width: 80%;
    margin: 0 auto;
}

.stepsRight {
    text-align: left;
    width: 40%;
}

.stepsContent h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 136.5%;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.stepsText {
    height: 166px;
}

.stepsNumber {
    height: 166px;
}

.stepsText {
    position: relative;

}

.stepsText p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

.cheer {
    background-image: url('../images/cheer.png');
    height: 750px;
    background-size: 100%;
}

.stepsLineCenter {
    width: 100%;
    height: 0%;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    background: #F51F89;
    transition: 1s;
}

.stepActive {
    color: #F51F89;
}

.stepsText {
    transition: 0.5s;
}

.stepsNumber {
    transition: 0.5s;
}


/* BLACK THEME */


.sliderItemBlack {
    background: #181B2E;
    border: 2px solid #F51F89;
}

.sliderItemBlack .sliderItemTitle {
    color: #F51F89;
}

.sliderItemBlack .sliderItemText {
    color: white;
}


.worldBlack {
    background: #181B2E;
}

.worldBlack .sliderText {
    color: white !important;
}

.menuBlack {
    background: #181B2E !important;
    border-bottom: 2px solid #F51F89 !important;
}

.menuBlack a {
    color: white;
}

.specialBlack .particles-js {
    background: #181B2E !important;
}

.worldBlack>.particles-js {
    background: #181B2E !important;
}


@media (max-width: 1600px) {
    .container {
        max-width: 90%;
    }

    .sliderTextBlock {
        min-width: 80%;
    }

    .specialCard {
        max-width: 300px;
    }

    .specialCardText {
        font-size: 16px;
    }

    .goldList {
        gap: 40px;
    }

    .cheer {
        background-image: url('../images/cheer.png');
        height: 623px;
        background-size: cover;
    }
}

@media (max-width: 1366px) {
    .menuLinks a {
        font-size: 18px;
        transition: 0.3s;
        margin-right: 20px;
    }

    .header h1 {
        font-size: 78px;
        line-height: 102px;
        width: 790px;
        color: white;
    }

    .header p {
        font-size: 20px;
        max-width: 724px;
    }

    .nmvcText {
        max-width: 45%;
        width: 100%;
    }

    .nmvcContent img {
        width: 40%;
    }

    .plotContent {
        display: block;
        justify-content: space-between;
    }

    .plot {
        background-image: url('../images/plotBG.png');
        height: auto;
        background-size: cover;
    }

    .plotImage {
        width: 300px;
        margin-top: 40px;
    }

    .sliderText {
        font-weight: 700;
        font-size: 76px;
        line-height: 166.5%;
        color: #181B2E;
    }

    .specialCard {
        max-width: 250px;
    }

    .lifeText {
        max-width: 50%;
        font-weight: 400;
        font-size: 22px;
        line-height: 136.5%;
        color: #1E1E1E;
    }
}

@media (max-width: 1024px) {
    .world {
        background-image: url('../images/siteBG.png');
        height: 560px;
    }

    .worldContent {
        position: relative;
        left: 60px;
        top: 100px;
    }

    .sliderText {
        font-weight: 700;
        font-size: 46px;
        line-height: 166.5%;
        color: #181B2E;
    }

    .sliderTextBlock {
        min-width: 700px;
    }

    .specialCards {
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        flex-wrap: wrap;
    }

    .special {
        height: 1100px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .goldHeader img {
        width: 30%;
        height: 150px;
    }

    .goldHeaderText {
        max-width: 60%;
    }

    .goldList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 50px;
    }

    .storesContent img {
        width: 30%;
    }

    .storesText {
        width: 60%;
    }

    .cheer {
        height: 435px;
    }
}

@media (max-width: 768px) {
    .firstLi {
        display: none !important;
        width: 0% !important;
    }

    .menu li {
        width: unset;
        text-align: left;
    }

    .menu ul {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .header h1 {
        font-size: 58px;
        line-height: 72px;
        width: 90%;
    }

    .header p {
        max-width: 90%;
    }

    .nmvcContent {
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .nmvcText {
        max-width: 100%;
        width: 100%;
        margin-top: 100px;
    }

    .plotTable td {
        min-width: 97px;
    }

    .plotTable {
        color: white;
        font-size: 14px;
    }

    .specialCard {
        margin-bottom: 30px;
    }

    .quoteTextTitle {
        font-size: 36px;
        margin-top: 100px;
    }

    .quote {
        height: 500px;
    }

    .lifeText {
        max-width: 100%;
        font-weight: 400;
        font-size: 22px;
        line-height: 136.5%;
        color: #1E1E1E;
    }

    .lifeContent {
        display: block;
    }

    .lifeImage {
        margin-top: 50px;
    }

    .life {
        height: 962px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
    }

    .gold {
        background-image: url('../images/siteBG-2.png');
        height: auto;
        background-size: cover;
    }

    .goldHeader {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .goldHeaderText {
        max-width: 100%;
    }

    .goldHeader img {
        width: 80%;
        height: auto;
        margin-top: 40px;
    }

    .storesContent {
        display: block;
        justify-content: space-between;
        margin-top: 50px;
        align-items: center;
    }

    .stores {
        height: 1052px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
    }

    .storesText {
        width: 100%;
    }

    .storesContent img {
        width: 70%;
    }

    .stepsList {
        width: 100%;
        margin: 0 auto;
    }

    .cheer {
        height: 312px;
    }
}

@media (max-width: 490px) {
    .logotype {
        width: 150px;
    }

    .menuLinks a {
        font-size: 14px;
        transition: 0.3s;
        margin-right: 15px;
    }

    .header p {
        max-width: 100%;
    }

    .nmvcContent img {
        width: 80%;
    }

    .nmvc {
        background-image: url('../images/siteBG.png');
        max-height: 1069px;
    }

    .worldsSliderWrapper {
        display: block;
        transition: 0.3s;
    }

    .sliderTextBlock {
        min-width: 100%;
    }

    .sliderText_2 {
        position: relative;
        left: 0px;
    }

    .world {
        background-image: url('../images/siteBG.png');
        height: auto;
    }

    .sliderItemBlock {
        width: 100%;
    }

    .sliderItem {
        margin-bottom: 50px;
    }

    .worldContent {
        position: relative;
        left: 0px;
        top: 100px;
    }

    .worldsSliderWrapper {
        width: 90%;
        margin: 0 auto;
    }

    .sliderItem {
        margin-right: 0px;
    }

    .special {
        height: 1700px;
    }

    .specialCards {
        display: block;
    }

    .specialCard {
        max-width: 100%;
        /* display: flex; */
    }

    .life {
        height: 1151px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
    }

    .lifeImage {
        max-width: 100%;
    }

    .lifeImage img {
        width: 100%;
    }

    .swiper-slide {
        width: 100%;
    }

    .swiper-slide img {
        width: 100%;
    }

    .goldList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin-top: 50px;
    }

    .goldHeader img {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }

    .stepsText {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 34px;
    }

    .cheer {
        height: 200px;
    }

    .headerText {
        position: relative;
        top: 228px;
    }
}

@media (max-width: 430px) {
    .header h1 {
        font-size: 48px;
        line-height: 62px;
        width: 90%;
    }

    .header p {
        font-size: 18px;
    }

    .siteTitle h1 {
        font-size: 46px;
        max-width: 100%;
    }

    .sliderText {
        font-weight: 700;
        font-size: 36px;
        line-height: 166.5%;
        color: #181B2E;
    }

    .sliderItemText {
        font-weight: 400;
        font-size: 14px;
        line-height: 136.5%;
        color: #1E1E1E;
    }

    .sliderItemBlock {

        height: auto;

    }

    .special {
        height: 1523px;
    }

    .specialCards {
        margin-top: 75px;
    }

    .quoteTextTitle {
        font-size: 36px;
        margin-top: 29px;
    }

    .swiper {
        height: 520px;
    }

    .game {
        height: 520px;
    }

    .swiper-slide {
        position: relative;
        top: 0px;
    }
}


@media (max-width: 390px) {
    .menu li {
        width: 100%;
        text-align: center;
    }

    .menu ul {
        flex-wrap: wrap;
    }

    .quoteTextTitle {
        font-size: 30px;
    }
}

.imageShow {
    animation-name: showImage;
    animation-duration: 2s;
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    transition: 0.3s;
}

@keyframes showImage {
    from {
        opacity: 0.4;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}